In [1]:
# Import packages
import os
import argparse
import time
import numpy as np
import pandas as pd
import Bio
from Bio.PDB import *
import ast

In [2]:
# Import the dict and convert it to a df
F = open('../data/interface_hydrophobicity_output.txt', "r")
X = F.readlines()
RESULTS = X

A quick check to show that these results on AB training set are not complete:

In [6]:
len(RESULTS)

312

In [7]:
#Functions to read .txt and convert to a list of dicts
new_line_clipper = lambda x: x.replace("\n", "")
nan_replacer = lambda x: x.replace("nan", '"No result"' )
input_to_dict = lambda x: ast.literal_eval(x)

In [8]:
# Map function above to strings in list to convert to list of dicts
results = list(map(new_line_clipper, RESULTS))
results = list(map(nan_replacer, results))
results = list(map(input_to_dict, results))

In [9]:
results_df = pd.DataFrame(results, columns = ['Protein_pdb', 'Total_mean_hydrophobicity', 'Former_chains_hydrophobicity'])
results_df = results_df.applymap(lambda x: x[0])

In [10]:
results_df = results_df.replace('No result', np.nan)

In [11]:
pd.to_numeric(results_df['Total_mean_hydrophobicity'], downcast = 'float')

0     -11.716666
1      39.375000
2      21.450001
3      -4.250000
4       4.625000
         ...
307    19.833334
308    18.937500
309    12.166667
310     3.215476
311    -4.375000
Name: Total_mean_hydrophobicity, Length: 312, dtype: float32

In [12]:
results_df.sort_values(by = 'Total_mean_hydrophobicity')

    Protein_pdb  Total_mean_hydrophobicity  Former_chains_hydrophobicity
25    1LK3_HL_A                 -29.200000                    -37.000000
197   6ML8_HL_A                 -23.375000                    -43.000000
70    6IEB_HL_A                 -22.625000                    -25.500000
36   6GG0_HL_34                 -21.791667                     -9.083333
306  4WUU_ED_AC                 -19.361111                    -22.222222
..          ...                        ...                           ...
198   4NP4_HL_A                        NaN                           NaN
228   5CZV_HL_A                        NaN                           NaN
241   3L95_HL_Y                        NaN                           NaN
275   5W9I_CD_A                        NaN                           NaN
286   5CZX_HL_A                        NaN                           NaN

[312 rows x 3 columns]